/* All */
* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
}

/* Body */
body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}





/* Dark theme */
html.dark {
    background-color: #121212;
    color: #F5F5F5;
}
html.dark header nav {
    background-color: #F5F5F5;
}
html.dark .routes li a {
    color: #121212;
}
html.dark .page_settings {
    border-color: #121212;
}
html.dark .cookies_allow_request div button {
    color: #F5F5F5;
    border-color: #F5F5F5;
}
html.dark .cookies_allow_request div button:hover {
    color: #121212;
    background-color: #F5F5F5;
}

/* Light theme */
html.light {
    background-color: #F5F5F5;
    color: #121212;
}
html.light header nav {
    background-color: #121212;
}
html.light .routes li a {
    color: #F5F5F5;
}
html.light .page_settings {
    border-color: #F5F5F5;
}
html.light .cookies_allow_request div button {
    color: #121212;
    border-color: #121212;
}
html.light .cookies_allow_request div button:hover {
    color: #F5F5F5;
    background-color: #121212;
}





/* HEADER layout */
header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: transparent;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
    padding: 5px;
    margin: 10px 0px;
    border-radius: 25px;
    width: 51%;
    height: 25px;
    min-width: 300px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.routes {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none; /* hide scrollbar in Firefoxe */
    -ms-overflow-style: none; /* hide scrollbar in  IE and Edge */
}
.routes::-webkit-scrollbar {
    display: none; /* hide scrollbar in Chrome, Safari and Edge */
}
.routes li a {
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    margin: 0px 15px;
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.2s ease;
    -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -ms-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
}
.routes li a:hover {
    text-decoration: underline 2px;
}
.routes li a:active {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}
.routes li a img {
    width: 15px;
    height: 15px;
    margin: 2px 3px 0px 0px;
}
.page_settings {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px 5px 0px 5px;
    border-left: 0.5px solid;
}
.page_settings li button {
    background-color: transparent;
    border: none;
    margin: 2px 0px 0px 0px;
    transition: transform 0.2s ease;
    -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -ms-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
}
.page_settings li button:active {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}
.page_settings li button img {
    width: 20px;
    height: 20px;
}

/* COOKIES ALLOW REQUEST layout */
.cookies_allow_request {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    min-width: 320px;
    text-align: center;
}
.cookies_allow_request h1 {
    font-size: 24px;
}
.cookies_allow_request p {
    font-size: 14px;
}
.cookies_allow_request div button {
    width: 200px;
    height: 35px;
    margin: 10px;
    font-size: 14px;
    border: 2px solid;
    background-color: transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: transform 0.2s ease;
    -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -ms-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
}
.cookies_allow_request div button:active {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}
.agree_button {
    font-weight: 700;
}

/* FOOTER layout */
footer {
    bottom: 0;
    position: absolute;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    color: #A6A6A6;
}

/* HOME layout */
/* SKILLS layout */
/* PROJECTS layout */
/* TECH layout */
/* BLOG layout */
