// import
@import 'colors';
@import 'mixins';

// theme template
@mixin theme_template($color1, $color2, $shadow_color, $placeholder1, $placeholder2, $post_tags) {
    .blog_root {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-wrap: nowrap;
        width: 100vw;
        padding: 60px 10px;
        gap: 10px;

        .blog_search {
            box-shadow: 0px 0px 10px $shadow_color;
            background-color: transparent;
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            justify-content: center;
            flex-wrap: nowrap;
            max-width: 700px;
            width: 100%;
            height: 30px;
            padding: 0 10px;
            margin-bottom: 20px;
            border-radius: 25px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            -ms-border-radius: 25px;
            -o-border-radius: 25px;

            &:focus-within {
                background-color: $color2;
                border: none;

                input {
                    color: $color1;

                    &::placeholder {
                        color: $placeholder1;
                    }
                }
            }
            input {
                color: $color2;
                max-width: 700px;
                width: 100%;
                height: 25px;
                outline: none;
                border: none;
                background-color: transparent;

                &::placeholder {
                    color: $placeholder2;
                }
            }
            button {
                background-color: transparent;
                border: none;
                width: 20px;
                height: 20px;
                padding: 0;
                margin-left: 5px;
                @include click_animation_transition(0.2);

                &:active {
                    @include click_animation_scale(0.9);
                }
                img {
                    width: auto;
                    height: 100%;
                }
            }
        }
        .blog_posts {
            max-width: 600px;
            width: 100%;

            li {
                padding: 10px;
                margin-bottom: 15px;

                .post_title {
                    color: $color2;

                    &:hover {
                        text-decoration: 3px underline;
                    }
                }
                .post_description, .post_date {
                    color: $color2;
                }
                .post_tags {
                    color: $post_tags;
                }
            }
        }
    }
}

// dark
html.dark {
    @include theme_template($dark, $light, $shadow_light, $placeholder_dark, $placeholder_light, $blog_post_light);
}

// light
html.light {
    @include theme_template($light, $dark, $shadow_dark, $placeholder_light, $placeholder_dark, $blog_post_dark);
}