$dark: #121212;
$gery: #A6A6A6;
$light: #F5F5F5;
$shadow_light: rgba(255, 255, 255, 0.250);
$shadow_dark: rgba(0, 0, 0, 0.250);
$placeholder_light: rgba(255, 255, 255, 0.5);
$placeholder_dark: rgba(0, 0, 0, 0.5);