* {
    font: {
        family: "JetBrains Mono", serif;
        optical-sizing: auto;
    }
}
.routes {
    li {
        a {
            font: {
                family: "Open Sans", sans-serif !important;
                optical-sizing: auto;
            }
        }
    }
}


h1 {
    font: {
        size: 24px;
        weight: 800;
    }
}
h2 {
    font: {
        size: 20px;
        weight: 600;
    }
}
p, button {
    font: {
        size: 15px;
        weight: 500;
    }
}
a {
    font: {
        size: 14px;
        weight: 700;
    }
}
i {
    font: {
        size: 14px;
        weight: 400;
    }
}
footer {
    font: {
        size: 10px;
        weight: 700;
    }
}