h1 {
    font: {
        size: 24px;
        weight: 800;
    }
}
p, button {
    font: {
        size: 14px;
        weight: 600;
    }
}
a {
    font: {
        size: 14px;
        weight: 700;
    }
}
footer {
    font: {
        size: 10px;
        weight: 700;
    }
}