// import
@import 'colors';
@import 'mixins';

// theme template
@mixin theme_template($color1, $color2, $shadow_color, $placeholder) {
    // home
    .home_root {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 50px 0 35px 0;
        gap: 20px;

        h1 {
            font-size: 48px !important;
            padding-top: 20px;

            img {
                width: 50px;
                height: 50px;
                margin: 0 15px;
            }
        }
        .pfp_text {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            min-width: 300px;
            gap: 10px;

            img {
                box-shadow: 0px 0px 10px $shadow_color;
                width: 300px;
                height: 300px;
                margin: 0;
                border-radius: 25%;
                -webkit-border-radius: 25%;
                -moz-border-radius: 25%;
                -ms-border-radius: 25%;
                -o-border-radius: 25%;
            }
            div {
                width: 300px;

                h2 {
                    text-align: center;
                    margin: 0;

                    font: {
                        size: 48px;
                        weight: 600;
                    }
                }
            }
        }
        .links {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            min-width: 300px;
            max-width: 800px;
            box-sizing: border-box;
            padding: 0 10px;
            gap: 10px;

            div {
                background-color: $color1;
                box-shadow: 0px 0px 10px $shadow_color;
                display: flex;
                flex-wrap: nowrap;
                width: 150px;
                padding: 5px 10px;
                text-align: center;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;

                &:hover {
                    background-color: $color2;

                    a {
                        color: $color1;
                    }
                    svg {
                        path {
                            fill: $color1;
                        }
                    }
                }
                svg {
                    width: 20px;
                    height: 20px;

                    path {
                        fill: $color2;
                    }
                }
                a {
                    color: $color2;
                    width: 100%;
                    @include click_animation_transition(0.2);

                    font: {
                        size: 15px;
                        weight: 600;
                    }
                    text: {
                        decoration: none;
                    }
                    &:hover {
                        text-decoration: 2px underline;
                    }
                    &:active {
                        @include click_animation_scale(0.9);
                    }
                }
            }
        }
    }

    // max 618px media
    @media (max-width: 618px) {
        .pfp_text {
            div {
                padding: 0 10px;
                box-sizing: border-box;
                max-width: 500px !important;
                width: 100% !important;
            }
        }
    }
}

// dark
html.dark {
    @include theme_template($dark, $light, $shadow_light, $placeholder_dark);
}

// light
html.light {
    @include theme_template($light, $dark, $shadow_dark, $placeholder_light);
}