// import
@import 'colors';
@import 'mixins';

// theme template
@mixin theme_template($color1, $color2, $shadow_color, $placeholder) {
    // home
    .home_root {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 60px 0 45px 0;
        gap: 30px;

        h1 {
            font-size: 48px !important;
            display: flex;
            align-items: center;

            img {
                width: auto;
                height: 50px;
                padding: 0 10px;
            }
        }
        .pfp_text {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            min-width: 300px;
            gap: 20px;

            img {
                box-shadow: 0px 0px 10px $shadow_color;
                width: 300px;
                height: 300px;
                margin: 0;
                border-radius: 25%;
                -webkit-border-radius: 25%;
                -moz-border-radius: 25%;
                -ms-border-radius: 25%;
                -o-border-radius: 25%;
            }
            div {
                width: 300px;

                h2 {
                    text-align: center;
                    margin: 0;

                    font: {
                        size: 48px;
                        weight: 600;
                    }
                }
            }
        }
        .links {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            min-width: 300px;
            max-width: 800px;
            padding: 0 10px;
            gap: 10px;

            a {
                color: $color2;
                background-color: $color1;
                box-shadow: 0px 0px 10px $shadow_color;
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: flex-start;
                flex-direction: row;
                flex-wrap: nowrap;
                width: 125px;
                height: 30px;
                padding: 6px;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
                @include click_animation_transition(0.2);

                font: {
                    size: 15px;
                    weight: 600;
                }
                text: {
                    align: center;
                    decoration: none;
                }
                &:hover {
                    background-color: $color2;
                    color: $color1;
                    text-decoration: 2px underline;

                    svg {
                        path {
                            fill: $color1;
                        }
                    }
                }
                &:active {
                    @include click_animation_scale(0.9);
                }
                svg {
                    width: 20px;
                    height: 20px;

                    path {
                        fill: $color2;
                    }
                }
            }
        }

        .stats_and_widgets {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
            margin-top: 20px;
            gap: 35px;

            .stats {
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: center;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                gap: 35px;

                img {
                    box-shadow: 0px 0px 15px $shadow_color;
                    height: 165px;
                    width: auto;

                }
            }
            .widgets {
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: center;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                gap: 35px;

                img, iframe {
                    box-shadow: 0px 0px 15px $shadow_color;
                    height: 400px;
                    width: auto;
                }
            }
        }
    }

    // max 618px media
    @media (max-width: 618px) {
        .pfp_text {
            div {
                padding: 0 10px;
                max-width: 500px !important;
                width: 100% !important;
            }
        }
    }
    // max 410px media
    @media (max-width: 410px) {
        .stats_and_widgets {
            .stats {
                .github_profile_stats {
                    height: auto !important;
                    width: 100% !important;
                    max-width: 395.15px !important
                }
            }
        }
    }
}

// dark
html.dark {
    @include theme_template($dark, $light, $shadow_light, $placeholder_dark);
}

// light
html.light {
    @include theme_template($light, $dark, $shadow_dark, $placeholder_light);
}