// import
@import "colors";
@import "mixins";

// theme template
@mixin theme_template($color1, $color2, $shadow_color, $placeholder) {
    // header
    header {
        background-color: transparent;
        display: flex;
        justify-content: center;
        position: fixed;
        box-sizing: border-box;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100vw;
        padding: 0 10px;

        nav {
            background-color: $color2;
            border: 2px $color1 solid;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: space-between;
            flex-wrap: nowrap;
            max-width: 900px;
            width: 100%;
            height: 25px;
            margin-top: 10px;
            padding: 5px 0;
            overflow: hidden;
            border-radius: 25px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            -ms-border-radius: 25px;
            -o-border-radius: 25px;

            .routes {
                display: flex;
                list-style: none;
                overflow-x: scroll;
                overflow-y: hidden;
                // TODO: CUSTOM SCROLL BAR

                li {
                    a {
                        color: $color1;
                        display: flex;
                        flex-wrap: nowrap;
                        margin: 0 15px;
                        text-decoration: none;
                        @include click_animation_transition(0.2);

                        &:hover {
                            text-decoration: underline 2px;
                        }
                        &:active {
                            @include click_animation_scale(0.9);
                        }
                        img {
                            width: 15px;
                            height: 15px;
                            margin: 2px 3px 0 0;
                        }
                    }
                }
            }
            .page_settings {
                border-left: 2px $color1 solid;
                height: 25px;
                display: flex;
                margin: 0;
                padding: 0 5px 0 5px;
                list-style: none;
                gap: 10px;

                li {
                    button {
                        margin-top: 2px;
                        border: none;
                        background-color: transparent;
                        width: 20px;
                        height: 20px;
                        @include click_animation_transition(0.2);
                        padding: 0;

                        &:active {
                            @include click_animation_scale(0.9);
                        }
                        img {
                            width: auto;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    // cookie allow request
    .cookies_allow_request {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex: 1;
        width: 500px;
        height: fit-content;
        text-align: center;
        gap: 10px;

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;

            button {
                color: $color2;
                border-color: $color2;
                width: 200px;
                height: 35px;
                border: 2px solid;
                background-color: transparent;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                @include click_animation_transition(0.2);

                &:hover {
                    color: $color1;
                    background-color: $color2;
                    box-shadow: 0px 4px 10px $shadow_color;
                }
                &:active {
                    @include click_animation_scale(0.9);
                }
            }
        }
    }

    // footer
    footer {
        background-color: $color1;
        box-shadow: 0px 4px 10px $shadow_color;
        position: fixed;
        bottom: 0;
        text-align: center;
        color: $gery;
        padding: 2px 5px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    // max 510px media
    @media (max-width: 510px) {
        .cookies_allow_request {
            width: 300px !important;
        }
    }
}

// dark
html.dark {
    @include theme_template($dark, $light, $shadow_light, $placeholder_dark);
}

// light
html.light {
    @include theme_template($light, $dark, $shadow_dark, $placeholder_light);
}