// imports
@import "colors";
@import "font_size";
@import "mixins";

// BUTTON
.button {
    width: 200px;
    height: 35px;
    margin: 10px;
    border: 2px solid;
    background-color: transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    @include click_animation_transition(0.2);
}
.button:active {
    @include click_animation_scale(0.9);
}

// HEADER
header {
    display: flex;
    justify-content: center;

    width: 100vw;
    background-color: transparent;

    nav {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        flex-wrap: nowrap;

        overflow: hidden;
        padding: 5px;
        margin: 10px 0;
        border-radius: 25px;
        width: 51%;
        min-width: 300px;
        height: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }
}

// ROUTES
.routes {
    display: flex;

    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    // TODO: CUSTOM SCROLL BAR

    li {
        a {
            display: flex;
            flex-wrap: nowrap;

            text-decoration: none;
            margin: 0 15px;
            @include click_animation_transition(0.2);

            img {
                width: 15px;
                height: 15px;
                margin: 2px 3px 0 0;
            }
        }
        a:hover {
            text-decoration: underline 2px;
        }
        a:active {
            @include click_animation_scale(0.9);
        }
    }
}
// PAGE SETTINGS
.page_settings {
    display: flex;

    list-style: none;
    margin: 0;
    padding: 0 5px 0 5px;
    border-left: 0.5px solid;

    li {
        button {
            background-color: transparent;
            border: none;
            margin: 2px 0 0 0;
            @include click_animation_transition(0.2);

            img {
                width: 20px;
                height: 20px;
            }
        }
        button:active {
            @include click_animation_scale(0.9);
        }
    }
}

// COOKIES ALLOW REQUEST
.cookies_allow_request {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;

    width: 40%;
    min-width: 320px;
    text-align: center;
}

// FOOTER
footer {
    bottom: 0;
    position: absolute;
    text-align: center;
    color: $gery;
}

// HOME
.home_root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-size: 48px !important;
        margin: 20px 0px;

        img {
            width: 50px;
            height: 50px;
            margin: 0 15px;
        }

    }
    .pfp_text {
        margin: 50px 0px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;

        width: 100%;
        min-width: 300px;

        img {
            margin: 0;
            width: 300px;
            height: 300px;
            border-radius: 25%;
            -webkit-border-radius: 25%;
            -moz-border-radius: 25%;
            -ms-border-radius: 25%;
            -o-border-radius: 25%;
        }
        div{
            width: 300px;
            margin: 10px;

            h2 {
                font: {
                    size: 48px;
                    weight: 600;
                }
                text-align: center;
                margin: 0;
            }
        }
    }
    .links {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;

        min-width: 300px;
        max-width: 800px;

        div{
            display: inline;

            margin: 5px 5px;
            padding: 5px 10px;
            width: 150px;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            text-align: center;

            svg {
                width: 25px;
                height: 25px;
                margin: 0 15px -3.5px 0;
            }
            a {
                width: 100%;
                font: {
                    size: 24px;
                    weight: 600;
                }
                text: {
                    decoration: none;
                }
            }
            a:hover {
                text-decoration: 2px underline;
            }
        }
    }
}


/* SKILLS layout */
/* PROJECTS layout */
/* TECH layout */
/* BLOG layout */