// import
@import 'colors';
@import 'mixins';

// theme template
@mixin theme_template($color1, $color2, $shadow_color, $placeholder) {
    // projects
    .projects_root {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1500px;
        width: 100%;
        overflow: visible;
        gap: 45px;
        padding: 55px 0 20px 0;

        .project {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            flex-wrap: nowrap;
            width: 380px;
            padding: 10px;
            border-radius: 25px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            -ms-border-radius: 25px;
            -o-border-radius: 25px;

            div {
                background-color: $color1;
                box-shadow: 0px 0px 5px $color2;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                flex-wrap: nowrap;
                width: 380px;
                height: 400px;
                border-radius: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                -ms-border-radius: 25px;
                -o-border-radius: 25px;

                img {
                    width: 100% !important;
                    height: auto !important;
                    image-resolution: 16/9 !important;
                    object-fit: cover;
                    border-radius: 20px 20px 0 0;
                    -webkit-border-radius: 20px 20px 0 0;
                    -moz-border-radius: 20px 20px 0 0;
                    -ms-border-radius: 20px 20px 0 0;
                    -o-border-radius: 20px 20px 0 0;
                }
                h1, p {
                    color: $color2;
                    width: 100%;
                    padding: 5px 10px;
                }
                h1 {
                    text-align: center;
                }
                p {
                    text-align: left;
                }
            }
            a {
                color: $placeholder;
                background-color: $color1;
                box-shadow: 0px 0px 10px $shadow_color;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 200px;
                height: 35px;
                margin-top: 15px;
                text-decoration: none;
                border-radius: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                -ms-border-radius: 25px;
                -o-border-radius: 25px;
                @include click_animation_transition(0.2);

                text: {
                    decoration: none;
                    align: center;
                }
                &:hover {
                    text-decoration: 2px underline;
                    color: $color1;
                    background-color: $color2;
                }
                &:active {
                    color: $color1;
                    background-color: $color2;
                    @include click_animation_scale(0.9);
                }
            }
        }
    }

    // max 820px media
    @media (max-width: 820px) {
        .projects_root {
            flex-direction: column !important;
            align-items: center !important;
            align-content: center !important;
            justify-content: center !important;
        }

        .project {
            max-width: 510px !important;
            width: 100% !important;

            div {
                max-width: 510px !important;
                width: 100% !important;
                height: auto !important;
            }
        }
    }
}

// dark
html.dark {
    @include theme_template($dark, $light, $shadow_light, $placeholder_light);
}

// light
html.light {
    @include theme_template($light, $dark, $shadow_dark, $placeholder_dark);
}