// import
@import "colors";
@import "mixins";

// theme template
@mixin theme_template($color1, $color2, $shadow_color, $placeholder) {
    .skills_root {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 850px;
        min-width: 300px;
        width: 100%;
        padding: 55px 0 10px 0;
        gap: 25px;

        div {
            background-color: $color2;
            box-shadow: 2px 2px 10px $color2;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 150px;
            width: 100px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;

            svg {
                width: 65px;
                height: 65px;
                margin: 20px 0;

                path {
                    fill: $color1;
                }
            }
            a {
                color: $color1;
                @include click_animation_transition(0.2);

                text: {
                    decoration: none;
                    align: center;
                }
                &:hover {
                    text-decoration: 2px underline;
                }
                &:active {
                    @include click_animation_scale(0.9);
                }
            }
        }
    }
}

// dark
html.dark {
    @include theme_template($dark, $light, $shadow_light, $placeholder_dark);
}

// light
html.light {
    @include theme_template($light, $dark, $shadow_dark, $placeholder_light);
}