// imports
@import "colors";
@import "font";
@import "mixins";

// BUTTON
.button {
    width: 200px;
    height: 35px;
    margin: 10px;
    border: 2px solid;
    background-color: transparent;
    @include click_animation_transition(0.2);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.button:active {
    @include click_animation_scale(0.9);
}

// HEADER
header {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    background-color: transparent;
    margin: 0;
    padding: 0;

    nav {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 51%;
        min-width: 300px;
        height: 25px;
        padding: 5px;
        margin: 10px 0 0 0;
        overflow: hidden;
        border: 1px solid;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }
}

// ROUTES
.routes {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: scroll;
    overflow-y: hidden;
    // TODO: CUSTOM SCROLL BAR

    li {
        a {
            display: flex;
            flex-wrap: nowrap;
            margin: 0 15px;
            text-decoration: none;
            @include click_animation_transition(0.2);

            &:hover {
                text-decoration: underline 2px;
            }
            &:active {
                @include click_animation_scale(0.9);
            }
            img {
                width: 15px;
                height: 15px;
                margin: 2px 3px 0 0;
            }
        }
    }
}
// PAGE SETTINGS
.page_settings {
    display: flex;
    margin: 0;
    padding: 0 5px 0 5px;
    list-style: none;
    border-left: 0.5px solid;

    li {
        button {
            margin: 2px 0 0 0;
            border: none;
            background-color: transparent;
            @include click_animation_transition(0.2);

            &:active {
                @include click_animation_scale(0.9);
            }
            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}

// COOKIES ALLOW REQUEST
.cookies_allow_request {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    width: 40%;
    min-width: 320px;
    text-align: center;
}

// FOOTER
footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    color: $gery;
    padding: 2px 5px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

// HOME
.home_root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 35px 0 15px 0;

    h1 {
        font-size: 48px !important;
        margin: 20px 0px;

        img {
            width: 50px;
            height: 50px;
            margin: 0 15px;
        }

    }
    .pfp_text {
        margin: 50px 0px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        min-width: 300px;

        img {
            width: 300px;
            height: 300px;
            margin: 0;
            border-radius: 25%;
            -webkit-border-radius: 25%;
            -moz-border-radius: 25%;
            -ms-border-radius: 25%;
            -o-border-radius: 25%;
        }
        div{
            width: 300px;
            margin: 10px;

            h2 {
                text-align: center;
                margin: 0;

                font: {
                    size: 48px;
                    weight: 600;
                }
            }
        }
    }
    .links {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        min-width: 300px;
        max-width: 800px;

        div {
            width: 150px;
            margin: 5px;
            padding: 5px 10px;
            text-align: center;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;

            svg {
                width: 20px;
                height: 20px;
                margin: 0 15px -3.5px 0;
            }
            a {
                display: inline-block;
                @include click_animation_transition(0.2);

                font: {
                    size: 15px;
                    weight: 600;
                }
                text: {
                    decoration: none;
                }
                &:hover {
                    text-decoration: 2px underline;
                }
                &:active {
                    @include click_animation_scale(0.9);
                }
            }
        }
    }
}

// SKILLS
.skills_root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 850px;
    min-width: 300px;
    width: 100%;
    padding: 45px 0 10px 0;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 10px;
        height: 150px;
        width: 100px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

        svg {
            width: 65px;
            height: 65px;
            margin: 20px 0;
        }
        a {
            @include click_animation_transition(0.2);

            text: {
                decoration: none;
                align: center;
            }
            &:hover {
                text-decoration: 2px underline;
            }
            &:active {
                @include click_animation_scale(0.9);
            }
        }
    }
}

// PROJECTS
.projects_root {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    min-width: 300px;
    width: 100%;
    overflow: visible;
    padding: 35px 0 0 0;

    .project {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 280px;
        padding: 10px;
        margin: 10px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            flex-wrap: nowrap;
            width: 280px;
            height: 250px;
            padding: 5px 7px;
            border-radius: 25px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            -ms-border-radius: 25px;
            -o-border-radius: 25px;

            img {
                width: 280px;
                height: 158px;
                border-radius: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                -ms-border-radius: 25px;
                -o-border-radius: 25px;
            }
            h1 {
                text: {
                    align: center;
                }
            }
        }
        a {
            width: 280px;
            height: 35px;
            margin-top: 10px;
            padding-top: 15px;
            text-decoration: none;
            border-radius: 25px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            -ms-border-radius: 25px;
            -o-border-radius: 25px;
            @include click_animation_transition(0.2);

            text: {
                decoration: none;
                align: center;
            }
            &:hover {
                text-decoration: 2px underline;
            }
            &:active {
                @include click_animation_scale(0.9);
            }
        }
    }
}

// TECH
.tech_root {
    max-width: 850px;
    min-width: 300px;
    width: 100%;
    padding: 55px 0 0 0;
}
.line_text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    text-align: center;
}
.line_text::before, .line_text::after {
    content: "";
    flex: 1;
    height: 2px;
    margin: 0 10px;
}
.tech_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0 50px 0;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 150px;
        height: 150px;
        margin: 10px;
        padding: 10px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;

        img {
            max-width: 150px;
            height: 75px;
            margin: 20px 0;
        }
        a {
            display: inline-block;
            @include click_animation_transition(0.2);

            text: {
                decoration: none;
                align: center;
            }
            &:hover {
                text-decoration: 2px underline;
            }
            &:active {
                @include click_animation_scale(0.9);
            }
        }
    }
}

// TODO: BLOG
