// imports
@import "colors";

// template
@mixin theme_template($color1, $color2, $shadow_color) {
    background-color: $color1;
    color: $color2;

    header {
        nav {
            background-color: $color2;
            border-color: $color1;
        }
    }

    .routes {
        li {
            a {
                color: $color1;
            }
        }
    }

    .page_settings {
        border-color: $color1;
    }

    .cookies_allow_request {
        div {
            button {
                color: $color2;
                border-color: $color2;
            }
            button:hover {
                color: $color1;
                background-color: $color2;
                box-shadow: 0px 4px 10px $shadow_color;
            }
        }
    }

    .button {
        color: $color2;
        border-color: $color2;
    }

    .button:hover {
        color: $color1;
        background-color: $color2;
        box-shadow: 0px 4px 10px $shadow_color;
    }

    footer {
        background-color: $color1;
    }

    .pfp_text {
        img {
            box-shadow: 0px 4px 10px $shadow_color;
        }
    }

    .links {
        div {
            background-color: $color2;
            box-shadow: 0px 4px 10px $shadow_color;

            svg {
                path {
                    fill: $color1;
                }
            }
            a {
                color: $color1;
            }
        }
    }

    .skills_root {
        div {
            background-color: $color2;
            box-shadow: 2px 2px 10px $color2;

            svg {
                path {
                    fill: $color1;
                }
            }
            a {
                color: $color1;
            }
        }
    }

    .line_text {
        color: $color2;
    }

    .line_text::before, .line_text::after {
        background: $color2;
    }

    .project {
        div {
            background-color: $color2;
            box-shadow: 1px 1px 5px $color2;
            h1 {
                color: $color1;
            }
        }
        a {
            color: $color1;
            background-color: $color2;
            box-shadow: 0px 4px 10px $shadow_color;
        }
    }

    .tech_container {
        div {
            background-color: $color2;
            box-shadow: 2px 2px 10px $color2;

            a {
                color: $color1;
            }
        }
    }
}

// dark
html.dark {
    @include theme_template($dark, $light, rgba(255, 255, 255, 0.250)); // TODO: change shadow color
}

// light
html.light {
    @include theme_template($light, $dark, rgba(0, 0, 0, 0.250));
}