* {
  font-family: "JetBrains Mono", serif;
  font-optical-sizing: auto;
}

.routes li a {
  font-family: "Open Sans", sans-serif !important;
  font-optical-sizing: auto;
}

h1, .line_text, .blog_post_heading {
  font-size: 24px;
  font-weight: 800;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}

p, button {
  font-size: 15px;
  font-weight: 500;
}

a {
  font-size: 14px;
  font-weight: 700;
}

i {
  font-size: 14px;
  font-weight: 400;
}

footer {
  font-size: 10px;
  font-weight: 700;
}

.post_title {
  font-size: 35px;
  font-weight: 800;
  text-decoration: none;
  text-align: left;
}

.post_description {
  text-align: left;
  font-family: "Fira Code", serif;
  font-size: 20px;
  font-weight: 600;
}

.post_date {
  text-align: left;
  font-family: "Fira Code", serif;
  font-size: 15px;
  font-weight: 300;
}

.post_tags {
  text-align: left;
  font-family: "Fira Code", serif;
  font-size: 15px;
  font-weight: 500;
}

.page_not_found_error h1 {
  text-align: center;
  font-size: 45px;
  font-weight: 800;
}
.page_not_found_error i {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}

html.dark {
  background-color: #121212;
  color: #F5F5F5;
}
html.dark * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html.dark, html.dark body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}
html.dark body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html.dark .not_found_data {
  color: #F5F5F5;
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: 800;
}
html.dark .page_not_found_error {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 65px 0px;
}
html.dark .page_not_found_error h1 {
  color: #F5F5F5;
}
html.dark .page_not_found_error i {
  color: rgba(255, 255, 255, 0.5);
}

html.light {
  background-color: #F5F5F5;
  color: #121212;
}
html.light * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html.light, html.light body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}
html.light body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html.light .not_found_data {
  color: #121212;
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: 800;
}
html.light .page_not_found_error {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 65px 0px;
}
html.light .page_not_found_error h1 {
  color: #121212;
}
html.light .page_not_found_error i {
  color: rgba(0, 0, 0, 0.5);
}

html.dark header {
  background-color: transparent;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  padding: 0 10px;
  overflow: hidden;
}
html.dark header nav {
  background-color: #F5F5F5;
  border: 2px #121212 solid;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-width: 900px;
  width: 100%;
  height: 35px;
  margin-top: 10px;
  padding: 5px 0;
  overflow: hidden;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
html.dark header nav .routes {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  overflow: scroll;
}
html.dark header nav .routes li a {
  color: #121212;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  height: 20px;
  padding: 0 15px;
  text-decoration: none;
  transition: transform 0.2 ease;
  -webkit-transition: transform 0.2 ease;
  -moz-transition: transform 0.2 ease;
  -ms-transition: transform 0.2 ease;
  -o-transition: transform 0.2 ease;
}
html.dark header nav .routes li a:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}
html.dark header nav .routes li a:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
html.dark header nav .routes li a img {
  width: auto;
  height: 100%;
  padding: 0 5px;
}
html.dark header nav .page_settings {
  border-left: 2px #121212 solid;
  list-style: none;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 25px;
  margin: 0;
  padding: 0 5px;
  gap: 10px;
  overflow: hidden;
}
html.dark header nav .page_settings li {
  display: flex;
  justify-content: center;
}
html.dark header nav .page_settings li button {
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  transition: transform 0.2 ease;
  -webkit-transition: transform 0.2 ease;
  -moz-transition: transform 0.2 ease;
  -ms-transition: transform 0.2 ease;
  -o-transition: transform 0.2 ease;
}
html.dark header nav .page_settings li button:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
html.dark header nav .page_settings li button img {
  width: auto;
  height: 100%;
}
html.dark footer {
  background-color: #121212;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
  position: fixed;
  bottom: 0;
  text-align: center;
  color: #A6A6A6;
  padding: 2px 5px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

html.light header {
  background-color: transparent;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  padding: 0 10px;
  overflow: hidden;
}
html.light header nav {
  background-color: #121212;
  border: 2px #F5F5F5 solid;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-width: 900px;
  width: 100%;
  height: 35px;
  margin-top: 10px;
  padding: 5px 0;
  overflow: hidden;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
html.light header nav .routes {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  overflow: scroll;
}
html.light header nav .routes li a {
  color: #F5F5F5;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  height: 20px;
  padding: 0 15px;
  text-decoration: none;
  transition: transform 0.2 ease;
  -webkit-transition: transform 0.2 ease;
  -moz-transition: transform 0.2 ease;
  -ms-transition: transform 0.2 ease;
  -o-transition: transform 0.2 ease;
}
html.light header nav .routes li a:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}
html.light header nav .routes li a:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
html.light header nav .routes li a img {
  width: auto;
  height: 100%;
  padding: 0 5px;
}
html.light header nav .page_settings {
  border-left: 2px #F5F5F5 solid;
  list-style: none;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 25px;
  margin: 0;
  padding: 0 5px;
  gap: 10px;
  overflow: hidden;
}
html.light header nav .page_settings li {
  display: flex;
  justify-content: center;
}
html.light header nav .page_settings li button {
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  transition: transform 0.2 ease;
  -webkit-transition: transform 0.2 ease;
  -moz-transition: transform 0.2 ease;
  -ms-transition: transform 0.2 ease;
  -o-transition: transform 0.2 ease;
}
html.light header nav .page_settings li button:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
html.light header nav .page_settings li button img {
  width: auto;
  height: 100%;
}
html.light footer {
  background-color: #F5F5F5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  position: fixed;
  bottom: 0;
  text-align: center;
  color: #A6A6A6;
  padding: 2px 5px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

html.dark .home_root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 0 35px 0;
  gap: 20px;
}
html.dark .home_root h1 {
  font-size: 48px !important;
  display: flex;
  align-items: center;
}
html.dark .home_root h1 img {
  width: auto;
  height: 50px;
  padding: 0 10px;
}
html.dark .home_root .pfp_text {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  min-width: 300px;
  gap: 20px;
}
html.dark .home_root .pfp_text img {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
  width: 300px;
  height: 300px;
  margin: 0;
  border-radius: 25%;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  -ms-border-radius: 25%;
  -o-border-radius: 25%;
}
html.dark .home_root .pfp_text div {
  width: 300px;
}
html.dark .home_root .pfp_text div h2 {
  text-align: center;
  margin: 0;
  font-size: 48px;
  font-weight: 600;
}
html.dark .home_root .links {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 300px;
  max-width: 800px;
  padding: 0 10px;
  gap: 10px;
}
html.dark .home_root .links a {
  color: #F5F5F5;
  background-color: #121212;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 125px;
  height: 30px;
  padding: 6px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: transform 0.2 ease;
  -webkit-transition: transform 0.2 ease;
  -moz-transition: transform 0.2 ease;
  -ms-transition: transform 0.2 ease;
  -o-transition: transform 0.2 ease;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}
html.dark .home_root .links a:hover {
  background-color: #F5F5F5;
  color: #121212;
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
}
html.dark .home_root .links a:hover svg path {
  fill: #121212;
}
html.dark .home_root .links a:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
html.dark .home_root .links a svg {
  width: 20px;
  height: 20px;
}
html.dark .home_root .links a svg path {
  fill: #F5F5F5;
}
@media (max-width: 618px) {
  html.dark .pfp_text div {
    padding: 0 10px;
    max-width: 500px !important;
    width: 100% !important;
  }
}

html.light .home_root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 0 35px 0;
  gap: 20px;
}
html.light .home_root h1 {
  font-size: 48px !important;
  display: flex;
  align-items: center;
}
html.light .home_root h1 img {
  width: auto;
  height: 50px;
  padding: 0 10px;
}
html.light .home_root .pfp_text {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  min-width: 300px;
  gap: 20px;
}
html.light .home_root .pfp_text img {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  width: 300px;
  height: 300px;
  margin: 0;
  border-radius: 25%;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  -ms-border-radius: 25%;
  -o-border-radius: 25%;
}
html.light .home_root .pfp_text div {
  width: 300px;
}
html.light .home_root .pfp_text div h2 {
  text-align: center;
  margin: 0;
  font-size: 48px;
  font-weight: 600;
}
html.light .home_root .links {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 300px;
  max-width: 800px;
  padding: 0 10px;
  gap: 10px;
}
html.light .home_root .links a {
  color: #121212;
  background-color: #F5F5F5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 125px;
  height: 30px;
  padding: 6px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: transform 0.2 ease;
  -webkit-transition: transform 0.2 ease;
  -moz-transition: transform 0.2 ease;
  -ms-transition: transform 0.2 ease;
  -o-transition: transform 0.2 ease;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}
html.light .home_root .links a:hover {
  background-color: #121212;
  color: #F5F5F5;
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
}
html.light .home_root .links a:hover svg path {
  fill: #F5F5F5;
}
html.light .home_root .links a:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
html.light .home_root .links a svg {
  width: 20px;
  height: 20px;
}
html.light .home_root .links a svg path {
  fill: #121212;
}
@media (max-width: 618px) {
  html.light .pfp_text div {
    padding: 0 10px;
    max-width: 500px !important;
    width: 100% !important;
  }
}

html.dark .skills_root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 850px;
  min-width: 300px;
  width: 100%;
  padding: 65px 5px 30px 5px;
  gap: 25px;
}
html.dark .skills_root div {
  background-color: #121212;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 150px;
  width: 100px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
html.dark .skills_root div:hover {
  background-color: #F5F5F5;
}
html.dark .skills_root div:hover a {
  color: #121212;
}
html.dark .skills_root div:hover svg path {
  fill: #121212;
}
html.dark .skills_root div svg {
  width: 65px;
  height: 65px;
  margin: 20px 0;
}
html.dark .skills_root div svg path {
  fill: #F5F5F5;
}
html.dark .skills_root div a {
  color: #F5F5F5;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  color: #F5F5F5;
  width: 100%;
  height: 30px;
  transition: transform 0.2 ease;
  -webkit-transition: transform 0.2 ease;
  -moz-transition: transform 0.2 ease;
  -ms-transition: transform 0.2 ease;
  -o-transition: transform 0.2 ease;
  text-decoration: none;
  text-align: center;
}
html.dark .skills_root div a:hover {
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
}
html.dark .skills_root div a:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

html.light .skills_root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 850px;
  min-width: 300px;
  width: 100%;
  padding: 65px 5px 30px 5px;
  gap: 25px;
}
html.light .skills_root div {
  background-color: #F5F5F5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 150px;
  width: 100px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
html.light .skills_root div:hover {
  background-color: #121212;
}
html.light .skills_root div:hover a {
  color: #F5F5F5;
}
html.light .skills_root div:hover svg path {
  fill: #F5F5F5;
}
html.light .skills_root div svg {
  width: 65px;
  height: 65px;
  margin: 20px 0;
}
html.light .skills_root div svg path {
  fill: #121212;
}
html.light .skills_root div a {
  color: #121212;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  color: #121212;
  width: 100%;
  height: 30px;
  transition: transform 0.2 ease;
  -webkit-transition: transform 0.2 ease;
  -moz-transition: transform 0.2 ease;
  -ms-transition: transform 0.2 ease;
  -o-transition: transform 0.2 ease;
  text-decoration: none;
  text-align: center;
}
html.light .skills_root div a:hover {
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
}
html.light .skills_root div a:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

html.dark .projects_root {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1500px;
  width: 100%;
  overflow: visible;
  gap: 45px;
  padding: 55px 0 20px 0;
}
html.dark .projects_root .project {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 380px;
  padding: 10px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
html.dark .projects_root .project div {
  background-color: #F5F5F5;
  box-shadow: 0px 0px 5px #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 380px;
  height: 400px;
  padding: 5px 7px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
html.dark .projects_root .project div img {
  width: 100% !important;
  height: auto !important;
  image-resolution: 16/9 !important;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
}
html.dark .projects_root .project div h1 {
  color: #121212;
  margin: 5px 0;
  text-align: center;
}
html.dark .projects_root .project div p {
  color: #121212;
  padding: 10px 0;
  text-align: left;
}
html.dark .projects_root .project a {
  color: rgba(255, 255, 255, 0.5);
  background-color: #121212;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 35px;
  margin-top: 15px;
  text-decoration: none;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: transform 0.2 ease;
  -webkit-transition: transform 0.2 ease;
  -moz-transition: transform 0.2 ease;
  -ms-transition: transform 0.2 ease;
  -o-transition: transform 0.2 ease;
  text-decoration: none;
  text-align: center;
}
html.dark .projects_root .project a:hover {
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
  color: #121212;
  background-color: #F5F5F5;
}
html.dark .projects_root .project a:active {
  color: #121212;
  background-color: #F5F5F5;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
@media (max-width: 820px) {
  html.dark .projects_root {
    flex-direction: column !important;
    align-items: center !important;
    align-content: center !important;
    justify-content: center !important;
  }
  html.dark .project {
    max-width: 510px !important;
    width: 100% !important;
  }
  html.dark .project div {
    max-width: 510px !important;
    width: 100% !important;
    height: auto !important;
  }
}

html.light .projects_root {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1500px;
  width: 100%;
  overflow: visible;
  gap: 45px;
  padding: 55px 0 20px 0;
}
html.light .projects_root .project {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 380px;
  padding: 10px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
html.light .projects_root .project div {
  background-color: #121212;
  box-shadow: 0px 0px 5px #121212;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 380px;
  height: 400px;
  padding: 5px 7px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
html.light .projects_root .project div img {
  width: 100% !important;
  height: auto !important;
  image-resolution: 16/9 !important;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
}
html.light .projects_root .project div h1 {
  color: #F5F5F5;
  margin: 5px 0;
  text-align: center;
}
html.light .projects_root .project div p {
  color: #F5F5F5;
  padding: 10px 0;
  text-align: left;
}
html.light .projects_root .project a {
  color: rgba(0, 0, 0, 0.5);
  background-color: #F5F5F5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 35px;
  margin-top: 15px;
  text-decoration: none;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: transform 0.2 ease;
  -webkit-transition: transform 0.2 ease;
  -moz-transition: transform 0.2 ease;
  -ms-transition: transform 0.2 ease;
  -o-transition: transform 0.2 ease;
  text-decoration: none;
  text-align: center;
}
html.light .projects_root .project a:hover {
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
  color: #F5F5F5;
  background-color: #121212;
}
html.light .projects_root .project a:active {
  color: #F5F5F5;
  background-color: #121212;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
@media (max-width: 820px) {
  html.light .projects_root {
    flex-direction: column !important;
    align-items: center !important;
    align-content: center !important;
    justify-content: center !important;
  }
  html.light .project {
    max-width: 510px !important;
    width: 100% !important;
  }
  html.light .project div {
    max-width: 510px !important;
    width: 100% !important;
    height: auto !important;
  }
}

html.dark .tech_root {
  max-width: 850px;
  min-width: 300px;
  width: 100%;
  padding: 55px 0 0 0;
}
html.dark .tech_root .line_text {
  color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 15px;
  width: 100%;
  text-align: center;
}
html.dark .tech_root .line_text::before, html.dark .tech_root .line_text::after {
  background: #F5F5F5;
  content: "";
  flex: 1;
  height: 2px;
  margin: 0 10px;
}
html.dark .tech_root .tech_container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 0 50px 0;
  gap: 25px;
}
html.dark .tech_root .tech_container div {
  background-color: transparent;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
html.dark .tech_root .tech_container div:hover {
  background-color: #F5F5F5;
}
html.dark .tech_root .tech_container div:hover a {
  color: #121212;
}
html.dark .tech_root .tech_container div img {
  max-width: 150px;
  height: 75px;
  margin: 20px 0;
  -o-object-fit: cover;
     object-fit: cover;
}
html.dark .tech_root .tech_container div a {
  color: #F5F5F5;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  color: #F5F5F5;
  width: 100%;
  height: 30px;
  transition: transform 0.2 ease;
  -webkit-transition: transform 0.2 ease;
  -moz-transition: transform 0.2 ease;
  -ms-transition: transform 0.2 ease;
  -o-transition: transform 0.2 ease;
  text-decoration: none;
  text-align: center;
}
html.dark .tech_root .tech_container div a:hover {
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
}
html.dark .tech_root .tech_container div a:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

html.light .tech_root {
  max-width: 850px;
  min-width: 300px;
  width: 100%;
  padding: 55px 0 0 0;
}
html.light .tech_root .line_text {
  color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 15px;
  width: 100%;
  text-align: center;
}
html.light .tech_root .line_text::before, html.light .tech_root .line_text::after {
  background: #121212;
  content: "";
  flex: 1;
  height: 2px;
  margin: 0 10px;
}
html.light .tech_root .tech_container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 0 50px 0;
  gap: 25px;
}
html.light .tech_root .tech_container div {
  background-color: transparent;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
html.light .tech_root .tech_container div:hover {
  background-color: #121212;
}
html.light .tech_root .tech_container div:hover a {
  color: #F5F5F5;
}
html.light .tech_root .tech_container div img {
  max-width: 150px;
  height: 75px;
  margin: 20px 0;
  -o-object-fit: cover;
     object-fit: cover;
}
html.light .tech_root .tech_container div a {
  color: #121212;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  color: #121212;
  width: 100%;
  height: 30px;
  transition: transform 0.2 ease;
  -webkit-transition: transform 0.2 ease;
  -moz-transition: transform 0.2 ease;
  -ms-transition: transform 0.2 ease;
  -o-transition: transform 0.2 ease;
  text-decoration: none;
  text-align: center;
}
html.light .tech_root .tech_container div a:hover {
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
}
html.light .tech_root .tech_container div a:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

html.dark .blog_root {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100vw;
  padding: 60px 10px;
  gap: 10px;
}
html.dark .blog_root .blog_search {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 700px;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  margin-bottom: 20px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
html.dark .blog_root .blog_search:focus-within {
  background-color: #F5F5F5;
  border: none;
}
html.dark .blog_root .blog_search:focus-within input {
  color: #121212;
}
html.dark .blog_root .blog_search:focus-within input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
html.dark .blog_root .blog_search:focus-within input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
html.dark .blog_root .blog_search input {
  color: #F5F5F5;
  max-width: 700px;
  width: 100%;
  height: 25px;
  outline: none;
  border: none;
  background-color: transparent;
}
html.dark .blog_root .blog_search input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
html.dark .blog_root .blog_search input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
html.dark .blog_root .blog_search button {
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-left: 5px;
  transition: transform 0.2 ease;
  -webkit-transition: transform 0.2 ease;
  -moz-transition: transform 0.2 ease;
  -ms-transition: transform 0.2 ease;
  -o-transition: transform 0.2 ease;
}
html.dark .blog_root .blog_search button:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
html.dark .blog_root .blog_search button img {
  width: auto;
  height: 100%;
}
html.dark .blog_root .blog_posts {
  max-width: 600px;
  width: 100%;
}
html.dark .blog_root .blog_posts li {
  padding: 10px;
  margin-bottom: 15px;
}
html.dark .blog_root .blog_posts li .post_title {
  color: #F5F5F5;
}
html.dark .blog_root .blog_posts li .post_title:hover {
  -webkit-text-decoration: 3px underline;
          text-decoration: 3px underline;
}
html.dark .blog_root .blog_posts li .post_description, html.dark .blog_root .blog_posts li .post_date {
  color: #F5F5F5;
}
html.dark .blog_root .blog_posts li .post_tags {
  color: rgba(255, 255, 255, 0.5);
}

html.light .blog_root {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100vw;
  padding: 60px 10px;
  gap: 10px;
}
html.light .blog_root .blog_search {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 700px;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  margin-bottom: 20px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
html.light .blog_root .blog_search:focus-within {
  background-color: #121212;
  border: none;
}
html.light .blog_root .blog_search:focus-within input {
  color: #F5F5F5;
}
html.light .blog_root .blog_search:focus-within input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
html.light .blog_root .blog_search:focus-within input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
html.light .blog_root .blog_search input {
  color: #121212;
  max-width: 700px;
  width: 100%;
  height: 25px;
  outline: none;
  border: none;
  background-color: transparent;
}
html.light .blog_root .blog_search input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
html.light .blog_root .blog_search input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
html.light .blog_root .blog_search button {
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-left: 5px;
  transition: transform 0.2 ease;
  -webkit-transition: transform 0.2 ease;
  -moz-transition: transform 0.2 ease;
  -ms-transition: transform 0.2 ease;
  -o-transition: transform 0.2 ease;
}
html.light .blog_root .blog_search button:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
html.light .blog_root .blog_search button img {
  width: auto;
  height: 100%;
}
html.light .blog_root .blog_posts {
  max-width: 600px;
  width: 100%;
}
html.light .blog_root .blog_posts li {
  padding: 10px;
  margin-bottom: 15px;
}
html.light .blog_root .blog_posts li .post_title {
  color: #121212;
}
html.light .blog_root .blog_posts li .post_title:hover {
  -webkit-text-decoration: 3px underline;
          text-decoration: 3px underline;
}
html.light .blog_root .blog_posts li .post_description, html.light .blog_root .blog_posts li .post_date {
  color: #121212;
}
html.light .blog_root .blog_posts li .post_tags {
  color: rgba(0, 0, 0, 0.5);
}

html.dark .blog_post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  max-width: 700px;
  width: 100%;
  padding: 65px 5px;
}
html.dark .blog_post hgroup {
  width: 100%;
}
html.dark .blog_post hgroup .post_title, html.dark .blog_post hgroup .post_description, html.dark .blog_post hgroup .post_date {
  color: #F5F5F5;
}
html.dark .blog_post hgroup .post_tags {
  color: rgba(255, 255, 255, 0.5);
}
html.dark .blog_post hr {
  margin: 10px 0;
  width: 100%;
}
html.dark .blog_post .post_content {
  width: 100%;
}

html.light .blog_post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  max-width: 700px;
  width: 100%;
  padding: 65px 5px;
}
html.light .blog_post hgroup {
  width: 100%;
}
html.light .blog_post hgroup .post_title, html.light .blog_post hgroup .post_description, html.light .blog_post hgroup .post_date {
  color: #121212;
}
html.light .blog_post hgroup .post_tags {
  color: rgba(0, 0, 0, 0.5);
}
html.light .blog_post hr {
  margin: 10px 0;
  width: 100%;
}
html.light .blog_post .post_content {
  width: 100%;
}/*# sourceMappingURL=main.css.map */