html, body {
  margin: 0;
  padding: 30px 0 0 0;
  width: 100vw;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

html.dark {
  background-color: #121212;
  color: #F5F5F5;
}
html.dark header nav {
  background-color: #F5F5F5;
}
html.dark .routes li a {
  color: #121212;
}
html.dark .page_settings {
  border-color: #121212;
}
html.dark .cookies_allow_request div button {
  color: #F5F5F5;
  border-color: #F5F5F5;
}
html.dark .cookies_allow_request div button:hover {
  color: #121212;
  background-color: #F5F5F5;
}
html.dark .button {
  color: #F5F5F5;
  border-color: #F5F5F5;
}
html.dark .button:hover {
  color: #121212;
  background-color: #F5F5F5;
}
html.dark footer {
  background-color: #121212;
}
html.dark .links div {
  background-color: #F5F5F5;
}
html.dark .links div svg path {
  fill: #121212;
}
html.dark .links div a {
  color: #121212;
}
html.dark .skills_root div {
  background-color: #F5F5F5;
}
html.dark .skills_root div svg path {
  fill: #121212;
}
html.dark .skills_root div a {
  color: #121212;
}
html.dark .line_text {
  color: #F5F5F5;
}
html.dark .line_text::before, html.dark .line_text::after {
  background: #F5F5F5;
}
html.dark .project div {
  background-color: #F5F5F5;
}
html.dark .project div h1 {
  color: #121212;
}
html.dark .project a {
  color: #121212;
  background-color: #F5F5F5;
}
html.dark .tech_container div {
  background-color: #F5F5F5;
}
html.dark .tech_container div a {
  color: #121212;
}

html.light {
  background-color: #F5F5F5;
  color: #121212;
}
html.light header nav {
  background-color: #121212;
}
html.light .routes li a {
  color: #F5F5F5;
}
html.light .page_settings {
  border-color: #F5F5F5;
}
html.light .cookies_allow_request div button {
  color: #121212;
  border-color: #121212;
}
html.light .cookies_allow_request div button:hover {
  color: #F5F5F5;
  background-color: #121212;
}
html.light .button {
  color: #121212;
  border-color: #121212;
}
html.light .button:hover {
  color: #F5F5F5;
  background-color: #121212;
}
html.light footer {
  background-color: #F5F5F5;
}
html.light .links div {
  background-color: #121212;
}
html.light .links div svg path {
  fill: #F5F5F5;
}
html.light .links div a {
  color: #F5F5F5;
}
html.light .skills_root div {
  background-color: #121212;
}
html.light .skills_root div svg path {
  fill: #F5F5F5;
}
html.light .skills_root div a {
  color: #F5F5F5;
}
html.light .line_text {
  color: #121212;
}
html.light .line_text::before, html.light .line_text::after {
  background: #121212;
}
html.light .project div {
  background-color: #121212;
}
html.light .project div h1 {
  color: #F5F5F5;
}
html.light .project a {
  color: #F5F5F5;
  background-color: #121212;
}
html.light .tech_container div {
  background-color: #121212;
}
html.light .tech_container div a {
  color: #F5F5F5;
}

* {
  font-family: "JetBrains Mono", serif;
  font-optical-sizing: auto;
}

.routes li a {
  font-family: "Open Sans", sans-serif !important;
  font-optical-sizing: auto;
}

h1, .line_text {
  font-size: 24px;
  font-weight: 800;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}

p, button {
  font-size: 15px;
  font-weight: 500;
}

a {
  font-size: 14px;
  font-weight: 700;
}

i {
  font-size: 14px;
  font-weight: 400;
}

footer {
  font-size: 10px;
  font-weight: 700;
}

.button {
  width: 200px;
  height: 35px;
  margin: 10px;
  border: 2px solid;
  background-color: transparent;
  transition: transform 0.2 ease;
  -webkit-transition: transform 0.2 ease;
  -moz-transition: transform 0.2 ease;
  -ms-transition: transform 0.2 ease;
  -o-transition: transform 0.2 ease;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.button:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
header nav {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 51%;
  min-width: 300px;
  height: 25px;
  padding: 5px;
  margin: 10px 0 0 0;
  overflow: hidden;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.routes {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: scroll;
  overflow-y: hidden;
}
.routes li a {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 15px;
  text-decoration: none;
  transition: transform 0.2 ease;
  -webkit-transition: transform 0.2 ease;
  -moz-transition: transform 0.2 ease;
  -ms-transition: transform 0.2 ease;
  -o-transition: transform 0.2 ease;
}
.routes li a:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}
.routes li a:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.routes li a img {
  width: 15px;
  height: 15px;
  margin: 2px 3px 0 0;
}

.page_settings {
  display: flex;
  margin: 0;
  padding: 0 5px 0 5px;
  list-style: none;
  border-left: 0.5px solid;
}
.page_settings li button {
  margin: 2px 0 0 0;
  border: none;
  background-color: transparent;
  transition: transform 0.2 ease;
  -webkit-transition: transform 0.2 ease;
  -moz-transition: transform 0.2 ease;
  -ms-transition: transform 0.2 ease;
  -o-transition: transform 0.2 ease;
}
.page_settings li button:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.page_settings li button img {
  width: 20px;
  height: 20px;
}

.cookies_allow_request {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  width: 40%;
  min-width: 320px;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  color: #A6A6A6;
  padding: 2px 5px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.home_root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 15px;
}
.home_root h1 {
  font-size: 48px !important;
  margin: 20px 0px;
}
.home_root h1 img {
  width: 50px;
  height: 50px;
  margin: 0 15px;
}
.home_root .pfp_text {
  margin: 50px 0px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  min-width: 300px;
}
.home_root .pfp_text img {
  width: 300px;
  height: 300px;
  margin: 0;
  border-radius: 25%;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  -ms-border-radius: 25%;
  -o-border-radius: 25%;
}
.home_root .pfp_text div {
  width: 300px;
  margin: 10px;
}
.home_root .pfp_text div h2 {
  text-align: center;
  margin: 0;
  font-size: 48px;
  font-weight: 600;
}
.home_root .links {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 300px;
  max-width: 800px;
}
.home_root .links div {
  width: 150px;
  margin: 5px;
  padding: 5px 10px;
  text-align: center;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.home_root .links div svg {
  width: 20px;
  height: 20px;
  margin: 0 15px -3.5px 0;
}
.home_root .links div a {
  display: inline-block;
  transition: transform 0.2 ease;
  -webkit-transition: transform 0.2 ease;
  -moz-transition: transform 0.2 ease;
  -ms-transition: transform 0.2 ease;
  -o-transition: transform 0.2 ease;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
}
.home_root .links div a:hover {
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
}
.home_root .links div a:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

.skills_root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 850px;
  min-width: 300px;
  width: 100%;
  padding-bottom: 10px;
}
.skills_root div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  height: 150px;
  width: 100px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.skills_root div svg {
  width: 65px;
  height: 65px;
  margin: 20px 0;
}
.skills_root div a {
  transition: transform 0.2 ease;
  -webkit-transition: transform 0.2 ease;
  -moz-transition: transform 0.2 ease;
  -ms-transition: transform 0.2 ease;
  -o-transition: transform 0.2 ease;
  text-decoration: none;
  text-align: center;
}
.skills_root div a:hover {
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
}
.skills_root div a:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

.projects_root {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
  min-width: 300px;
  width: 100%;
  overflow: visible;
}
.projects_root .project {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 280px;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.projects_root .project div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 280px;
  padding: 5px 7px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.projects_root .project div img {
  width: 280px;
  max-height: 250px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.projects_root .project div h1 {
  text-align: center;
}
.projects_root .project a {
  width: 280px;
  height: 35px;
  margin-top: 10px;
  padding-top: 15px;
  text-decoration: none;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: transform 0.2 ease;
  -webkit-transition: transform 0.2 ease;
  -moz-transition: transform 0.2 ease;
  -ms-transition: transform 0.2 ease;
  -o-transition: transform 0.2 ease;
  text-decoration: none;
  text-align: center;
}
.projects_root .project a:hover {
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
}
.projects_root .project a:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

.tech_root {
  max-width: 850px;
  min-width: 300px;
  width: 100%;
}

.line_text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  text-align: center;
}

.line_text::before, .line_text::after {
  content: "";
  flex: 1;
  height: 2px;
  margin: 0 10px;
}

.tech_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 0 50px 0;
}
.tech_container div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 150px;
  height: 150px;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.tech_container div img {
  max-width: 150px;
  height: 75px;
  margin: 20px 0;
}
.tech_container div a {
  display: inline-block;
  transition: transform 0.2 ease;
  -webkit-transition: transform 0.2 ease;
  -moz-transition: transform 0.2 ease;
  -ms-transition: transform 0.2 ease;
  -o-transition: transform 0.2 ease;
  text-decoration: none;
  text-align: center;
}
.tech_container div a:hover {
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
}
.tech_container div a:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}/*# sourceMappingURL=main.css.map */