// imports
@import "colors";
@import "fonts";

// theme template
@mixin theme_template($color1, $color2, $shadow_color, $placeholder, $post_tags) {
    // html
    background-color: $color1;
    color: $color2;

    // everything
    * {
        margin: 0;
        padding: 0;
    }

    // html and body
    &, body {
        margin: 0;
        padding: 0;
        width: 100vw;
        min-height: 100vh;
    }

    // body
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // not_found_data
    .not_found_data {
        color: $color2;
        width: 100%;

        text-align: center;
        font: {
            size: 25px;
            weight: 800;
        }
    }

    // page not found error
    .page_not_found_error {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 65px 0px;

        h1 {
            color: $color2;
        }
        i {
            color: $post_tags;
        }
    }
}

// dark
html.dark {
    @include theme_template($dark, $light, $shadow_light, $placeholder_dark, $placeholder_light);
}

// light
html.light {
    @include theme_template($light, $dark, $shadow_dark, $placeholder_light, $placeholder_dark);
}

// imports
@import "home_layout";
@import "home";
@import "skills";
@import "projects";
@import "tech";
@import "blog";
@import "blog_post";